[submodule "src/Vendor/glfw"]
	path = src/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "src/Vendor/glm"]
	path = src/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "src/Vendor/vk-bootstrap"]
	path = src/Vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "src/Vendor/VulkanMemoryAllocator"]
	path = src/Vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "src/Vendor/stb"]
	path = src/Vendor/stb
	url = https://github.com/nothings/stb
[submodule "src/Vendor/volk"]
	path = src/Vendor/volk
	url = https://github.com/zeux/volk
[submodule "src/Vendor/cgltf"]
	path = src/Vendor/cgltf
	url = https://github.com/jkuhlmann/cgltf
